USE [master]
GO
/****** Object:  Database [GetTestDB]    Script Date: 07.05.2019 7:30:29 ******/
CREATE DATABASE [GetTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GetTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GetTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GetTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GetTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GetTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GetTestDB]
GO
/****** Object:  Table [dbo].[Action]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Action] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[ShortDesc] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[UserId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[ImpactId] [int] NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorHistory]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ErrorId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_ErrorHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impact]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Impact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.05.2019 7:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Action] ON 

INSERT [dbo].[Action] ([Id], [Name]) VALUES (1, N'Ввод')
INSERT [dbo].[Action] ([Id], [Name]) VALUES (2, N'Открытие')
INSERT [dbo].[Action] ([Id], [Name]) VALUES (3, N'Решение')
SET IDENTITY_INSERT [dbo].[Action] OFF
SET IDENTITY_INSERT [dbo].[Error] ON 

INSERT [dbo].[Error] ([Id], [DateCreated], [ShortDesc], [Description], [UserId], [StatusId], [PriorityId], [ImpactId]) VALUES (1, CAST(N'2018-09-06T13:26:44.000' AS DateTime), N'Team-oriented solution-oriented synergy', N'Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem. Sed sagittis.', 1000, 3, 4, 4)
INSERT [dbo].[Error] ([Id], [DateCreated], [ShortDesc], [Description], [UserId], [StatusId], [PriorityId], [ImpactId]) VALUES (3, CAST(N'2019-04-14T10:08:35.000' AS DateTime), N'Customizable tangible synergy', N'Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem. Praesent id massa id nisl venenatis lacinia.', 650, 4, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Error] OFF
SET IDENTITY_INSERT [dbo].[ErrorHistory] ON 

INSERT [dbo].[ErrorHistory] ([Id], [ErrorId], [ActionId], [Comment], [UserId]) VALUES (1, 809, 1, N'Pellentesque ultrices mattis odio.', 956)
INSERT [dbo].[ErrorHistory] ([Id], [ErrorId], [ActionId], [Comment], [UserId]) VALUES (2, 637, 2, N'Praesent blandit. Nam nulla.', 865)
INSERT [dbo].[ErrorHistory] ([Id], [ErrorId], [ActionId], [Comment], [UserId]) VALUES (3, 408, 4, N'Sed sagittis.', 192)
GO
SET IDENTITY_INSERT [dbo].[ErrorHistory] OFF
SET IDENTITY_INSERT [dbo].[Impact] ON 

INSERT [dbo].[Impact] ([Id], [Name]) VALUES (1, N'Авария')
INSERT [dbo].[Impact] ([Id], [Name]) VALUES (2, N'Критичная')
INSERT [dbo].[Impact] ([Id], [Name]) VALUES (3, N'Некритичная')
SET IDENTITY_INSERT [dbo].[Impact] OFF
SET IDENTITY_INSERT [dbo].[Priority] ON 

INSERT [dbo].[Priority] ([Id], [Name]) VALUES (1, N'Очень Срочно')
INSERT [dbo].[Priority] ([Id], [Name]) VALUES (2, N'Срочно')
INSERT [dbo].[Priority] ([Id], [Name]) VALUES (3, N'Несрочно')
SET IDENTITY_INSERT [dbo].[Priority] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Открытая')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Решённая')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Name], [Surname], [Password]) VALUES (1, N'ctolputt', N'Cherise', N'Tolputt', N'task-force')
INSERT [dbo].[User] ([Id], [Login], [Name], [Surname], [Password]) VALUES (2, N'dfattore', N'Darcey', N'Fattore', N'Graphical [User] Interface')
INSERT [dbo].[User] ([Id], [Login], [Name], [Surname], [Password]) VALUES (3, N'kromand', N'Kary', N'Romand', N'homogeneous')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Impact] FOREIGN KEY([ImpactId])
REFERENCES [dbo].[Impact] ([Id])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Impact]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Priority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priority] ([Id])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Priority]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Status]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_User]
GO
ALTER TABLE [dbo].[ErrorHistory]  WITH CHECK ADD  CONSTRAINT [FK_ErrorHistory_Action] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Action] ([Id])
GO
ALTER TABLE [dbo].[ErrorHistory] CHECK CONSTRAINT [FK_ErrorHistory_Action]
GO
ALTER TABLE [dbo].[ErrorHistory]  WITH CHECK ADD  CONSTRAINT [FK_ErrorHistory_Error] FOREIGN KEY([ErrorId])
REFERENCES [dbo].[Error] ([Id])
GO
ALTER TABLE [dbo].[ErrorHistory] CHECK CONSTRAINT [FK_ErrorHistory_Error]
GO
ALTER TABLE [dbo].[ErrorHistory]  WITH CHECK ADD  CONSTRAINT [FK_ErrorHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ErrorHistory] CHECK CONSTRAINT [FK_ErrorHistory_User]
GO
USE [master]
GO
